####  Goals:
1) Total orders in the particular period
2) Total delayed deliveries + avg delay time otp
3) Top 10 delivery Locations where delay is common otp
4) scatterplot of transportation distance by delay
5) Driver's causing the most delay

1) Total orders in the particular period:
-> BookingId_Date

2) Total delayed deliveries + avg delay time otp
-> Delay: actual_eta - Planned_ETA

3) Top 10 delivery Locations where delay is common otp
-> Des_lat_lon

4) scatterplot of transportation distance by delay
-> TRANSPORTATION_DISTANCE_IN_KM vs Delay

5) Driver's causing the most delay
-> Driver_Name,

In [2]:
!pip3 install -q pandas numpy matplotlib seaborn openpyxl

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [4]:
df = pd.read_excel('./data/archive/Delivery_truck_trip_data.xlsx')

C:\Users\RAK\AppData\Local\Temp\ipykernel_25520\1080258413.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = pd.read_excel('./data/archive/Delivery_truck_trip_data.xlsx')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6880 entries, 0 to 6879
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   GpsProvider                         5927 non-null   object
 1   BookingID                           6880 non-null   object
 2   Market/Regular                      6880 non-null   object
 3   BookingID_Date                      6880 non-null   datetime64[ns]
 4   vehicle_no                          6880 non-null   object
 5   Origin_Location                     6880 non-null   object
 6   Destination_Location                6880 non-null   object
 7   Org_lat_lon                         6880 non-null   object
 8   Des_lat_lon                         6880 non-null   object
 9   Data_Ping_time                      5927 non-null   datetime64[ns]
 10  Planned_ETA                         6880 non-null   datetime64[ns]
 11  Current_Location                    5916 non-null   object
 12  DestinationLocation                 6880 non-null   object
 13  actual_eta                          6843 non-null   datetime64[ns]
 14  Curr_lat                            5927 non-null   float64
 15  Curr_lon                            5927 non-null   float64
 16  ontime                              2548 non-null   object
 17  delay                               4342 non-null   object
 18  OriginLocation_Code                 6877 non-null   object
 19  DestinationLocation_Code            6853 non-null   object
 20  trip_start_date                     6880 non-null   datetime64[ns]
 21  trip_end_date                       6686 non-null   datetime64[ns]
 22  TRANSPORTATION_DISTANCE_IN_KM       6168 non-null   float64
 23  vehicleType                         6052 non-null   object
 24  Minimum_kms_to_be_covered_in_a_day  2820 non-null   float64
 25  Driver_Name                         3451 non-null   object
 26  Driver_MobileNo                     2691 non-null   float64
 27  customerID                          6880 non-null   object
 28  customerNameCode                    6880 non-null   object
 29  supplierID                          6880 non-null   object
 30  supplierNameCode                    6880 non-null   object
 31  Material Shipped                    6880 non-null   object
dtypes: datetime64[ns](6), float64(5), object(21)
memory usage: 1.7+ MB

In [6]:
df.head(5)

,GpsProvider,BookingID,Market/Regular,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,...,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo,customerID,customerNameCode,supplierID,supplierNameCode,Material Shipped
0,CONSENT TRACK,MVCV0000927/082021,Market,2020-08-17 14:59:01.000,KA590408,"TVSLSL-PUZHAL-HUB,CHENNAI,TAMIL NADU","ASHOK LEYLAND PLANT 1- HOSUR,HOSUR,KARNATAKA","13.1550,80.1960","12.7400,77.8200",2020-08-24 00:05:09,...,320.0,NaN,NaN,NaN,NaN,ALLEXCHE45,Ashok leyland limited,VIJEXHOSR7,VIJAY TRANSPORT,BRACKET / GRAB HANDLE
1,VAMOSYS,VCV00014271/082021,Regular,2020-08-27 16:22:22.827,TN30BC5917,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:28,...,103.0,NaN,NaN,RAMESH,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,VJLEXSHE09,VJ LOGISTICS,ZB MODEL PLATE / 3143
2,CONSENT TRACK,VCV00014382/082021,Regular,2020-08-27 17:59:24.987,TN22AR2748,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8710,79.7390","11.8710,79.7390",2020-08-28 09:05:09,...,300.0,NaN,NaN,GIRI,NaN,LUTGCCHE06,Lucas tvs ltd,GSTEXLAK1Q,G.S. TRANSPORT,LETTERING / FUSO
3,VAMOSYS,VCV00014743/082021,Regular,2020-08-28 00:48:24.503,TN28AQ0781,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:31,...,61.0,NaN,NaN,RAVI,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,ARVEXNAM09,ARVINTH TRANSPORT,LU STRUT RA / RADIUS ROD
4,VAMOSYS,VCV00014744/082021,Regular,2020-08-28 01:23:19.243,TN68F1722,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8720,79.6320","11.8720,79.6320",2020-08-28 12:40:29,...,240.0,NaN,NaN,TAMIL,NaN,LUTGCCHE06,Lucas tvs ltd,SRTEXKOR96,SR TRANSPORTS,WISHBONE / V ROD/HDT

In [7]:
df[df[['delay','ontime']].notna().all(axis=1)][['ontime','delay']]

     ontime delay
5820      G     R
5821      G     R
5822      G     R
5823      G     R
5824      G     R
5825      G     R
5826      G     R
5827      G     R
5828      G     R
5829      G     R
5830      G     R
5831      G     R
5832      G     R
5833      G     R
5834      G     R
5835      G     R
5836      G     R
5837      G     R
5838      G     R
5839      G     R
5840      G     R
5841      G     R
5842      G     R
5843      G     R

In [8]:
df['delay'].loc[df['delay']== 'R']

0       R
70      R
90      R
91      R
93      R
       ..
6864    R
6867    R
6868    R
6871    R
6878    R
Name: delay, Length: 4342, dtype: object

In [9]:
df['ontime'].loc[df['ontime']!= 'G']

0       NaN
70      NaN
90      NaN
91      NaN
93      NaN
       ...
6864    NaN
6867    NaN
6868    NaN
6871    NaN
6878    NaN
Name: ontime, Length: 4332, dtype: object

In [10]:
df.head()

,GpsProvider,BookingID,Market/Regular,BookingID_Date,vehicle_no,Origin_Location,Destination_Location,Org_lat_lon,Des_lat_lon,Data_Ping_time,...,TRANSPORTATION_DISTANCE_IN_KM,vehicleType,Minimum_kms_to_be_covered_in_a_day,Driver_Name,Driver_MobileNo,customerID,customerNameCode,supplierID,supplierNameCode,Material Shipped
0,CONSENT TRACK,MVCV0000927/082021,Market,2020-08-17 14:59:01.000,KA590408,"TVSLSL-PUZHAL-HUB,CHENNAI,TAMIL NADU","ASHOK LEYLAND PLANT 1- HOSUR,HOSUR,KARNATAKA","13.1550,80.1960","12.7400,77.8200",2020-08-24 00:05:09,...,320.0,NaN,NaN,NaN,NaN,ALLEXCHE45,Ashok leyland limited,VIJEXHOSR7,VIJAY TRANSPORT,BRACKET / GRAB HANDLE
1,VAMOSYS,VCV00014271/082021,Regular,2020-08-27 16:22:22.827,TN30BC5917,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:28,...,103.0,NaN,NaN,RAMESH,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,VJLEXSHE09,VJ LOGISTICS,ZB MODEL PLATE / 3143
2,CONSENT TRACK,VCV00014382/082021,Regular,2020-08-27 17:59:24.987,TN22AR2748,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8710,79.7390","11.8710,79.7390",2020-08-28 09:05:09,...,300.0,NaN,NaN,GIRI,NaN,LUTGCCHE06,Lucas tvs ltd,GSTEXLAK1Q,G.S. TRANSPORT,LETTERING / FUSO
3,VAMOSYS,VCV00014743/082021,Regular,2020-08-28 00:48:24.503,TN28AQ0781,"DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","DAIMLER INDIA COMMERCIAL VEHICLES,KANCHIPURAM,...","12.8390,79.9540","12.8390,79.9540",2020-08-28 12:40:31,...,61.0,NaN,NaN,RAVI,NaN,DMREXCHEUX,Daimler india commercial vehicles pvt lt,ARVEXNAM09,ARVINTH TRANSPORT,LU STRUT RA / RADIUS ROD
4,VAMOSYS,VCV00014744/082021,Regular,2020-08-28 01:23:19.243,TN68F1722,"LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","LUCAS TVS LTD-PONDY,PONDY,PONDICHERRY","11.8720,79.6320","11.8720,79.6320",2020-08-28 12:40:29,...,240.0,NaN,NaN,TAMIL,NaN,LUTGCCHE06,Lucas tvs ltd,SRTEXKOR96,SR TRANSPORTS,WISHBONE / V ROD/HDT

In [11]:
print(df.columns)

Index(['GpsProvider', 'BookingID', 'Market/Regular ', 'BookingID_Date',
       'vehicle_no', 'Origin_Location', 'Destination_Location', 'Org_lat_lon',
       'Des_lat_lon', 'Data_Ping_time', 'Planned_ETA', 'Current_Location',
       'DestinationLocation', 'actual_eta', 'Curr_lat', 'Curr_lon', 'ontime',
       'delay', 'OriginLocation_Code', 'DestinationLocation_Code',
       'trip_start_date', 'trip_end_date', 'TRANSPORTATION_DISTANCE_IN_KM',
       'vehicleType', 'Minimum_kms_to_be_covered_in_a_day', 'Driver_Name',
       'Driver_MobileNo', 'customerID', 'customerNameCode', 'supplierID',
       'supplierNameCode', 'Material Shipped'],
      dtype='object')

In [12]:
df1 = df[[    #'GpsProvider', 
    'BookingID', 
    #'Market/Regular ', 
    'BookingID_Date',
    #'vehicle_no', 'Origin_Location', 'Destination_Location', 
    'Org_lat_lon',
    'Des_lat_lon', 
    #'Data_Ping_time', 
    'Planned_ETA', 
    #'Current_Location',
    #'DestinationLocation', 
    'actual_eta', 
    #'Curr_lat', 'Curr_lon', 
    'ontime',
    'delay', 
    #'OriginLocation_Code', 'DestinationLocation_Code',
    'trip_start_date', 'trip_end_date', 'TRANSPORTATION_DISTANCE_IN_KM',
    #'vehicleType', 'Minimum_kms_to_be_covered_in_a_day', 
    'Driver_Name'
    #'Driver_MobileNo', 'customerID', 'customerNameCode', 'supplierID',
    #'supplierNameCode', 'Material Shipped'
    ]
       ].copy()

In [13]:
df1.head()

,BookingID,BookingID_Date,Org_lat_lon,Des_lat_lon,Planned_ETA,actual_eta,ontime,delay,trip_start_date,trip_end_date,TRANSPORTATION_DISTANCE_IN_KM,Driver_Name
0,MVCV0000927/082021,2020-08-17 14:59:01.000,"13.1550,80.1960","12.7400,77.8200",2020-08-21 18:59:01.000,2020-08-28 14:38:04.447,NaN,R,2020-08-17 14:59:01,NaT,320.0,NaN
1,VCV00014271/082021,2020-08-27 16:22:22.827,"12.8390,79.9540","12.8390,79.9540",2020-08-31 20:22:22.827,2020-08-28 12:46:17.007,G,NaN,2020-08-27 16:21:52,NaT,103.0,RAMESH
2,VCV00014382/082021,2020-08-27 17:59:24.987,"11.8710,79.7390","11.8710,79.7390",2020-08-31 21:59:24.987,2020-08-28 16:03:30.793,G,NaN,2020-08-27 17:57:04,NaT,300.0,GIRI
3,VCV00014743/082021,2020-08-28 00:48:24.503,"12.8390,79.9540","12.8390,79.9540",2020-09-01 04:48:24.503,2020-08-28 12:50:27.997,G,NaN,2020-08-28 00:47:45,NaT,61.0,RAVI
4,VCV00014744/082021,2020-08-28 01:23:19.243,"11.8720,79.6320","11.8720,79.6320",2020-09-01 05:23:19.243,2020-08-28 14:22:50.127,G,NaN,2020-08-28 01:13:48,NaT,240.0,TAMIL

In [14]:
df1['Delayed'] =(  df1.query('actual_eta.notna()')['actual_eta'] -  df1.query('actual_eta.notna()')['Planned_ETA']).dt.days

In [15]:
df1['Delayed']

0       6.0
1      -4.0
2      -4.0
3      -4.0
4      -4.0
       ...
6875   -1.0
6876   -1.0
6877   -1.0
6878   -1.0
6879   -1.0
Name: Delayed, Length: 6880, dtype: float64

In [16]:
df1.drop(columns=['Planned_ETA','actual_eta'], inplace = True)

In [17]:
df1.to_csv("./data/Cleaned_Data.csv")

In [18]:
# Total Orders
# Extract year and month from 'BookingID_Date'
df1['Year'] = df1['BookingID_Date'].dt.year
df1['Month'] = df1['BookingID_Date'].dt.month

# Count the number of bookings per distinct year-month combination
booking_counts = df1.groupby(['Year','Month']).size().reset_index(name='Booking_Count')

# Print the result
print(booking_counts)

    Year  Month  Booking_Count
0   2019      3            264
1   2019      4            285
2   2019      5            391
3   2019      6            169
4   2019      7            120
5   2019      8             53
6   2019      9            304
7   2019     10            533
8   2019     11            642
9   2019     12            524
10  2020      1            358
11  2020      2             68
12  2020      3             44
13  2020      5             55
14  2020      6            496
15  2020      7            942
16  2020      8           1626
17  2020      9              1
18  2020     10              3
19  2020     11              1
20  2020     12              1

In [19]:
df1[df1['Driver_Name'] == 'ASHOK KUMAR']

,BookingID,BookingID_Date,Org_lat_lon,Des_lat_lon,ontime,delay,trip_start_date,trip_end_date,TRANSPORTATION_DISTANCE_IN_KM,Driver_Name,Delayed,Year,Month
177,AEIBK2025965,2020-08-13 12:59:12,"12.722686,77.676518","28.373519,76.835337",NaN,R,2020-08-14 17:41:10,NaT,2230.0,ASHOK KUMAR,10.0,2020,8
194,AEIBK2026250,2020-08-17 16:07:20,"28.373519,76.835337","12.930429,79.931163",NaN,R,2020-08-17 16:54:00,2020-08-19 15:40:00,2400.0,ASHOK KUMAR,7.0,2020,8
414,AEIBK2026760,2020-08-20 17:10:40,"12.425747,79.880083","30.000345,76.732209",NaN,R,2020-08-25 16:39:00,2020-08-25 16:57:00,2400.0,ASHOK KUMAR,0.0,2020,8
1360,AEIBK2020139,2020-06-09 13:41:59,"12.722686,77.676518","28.373519,76.835337",NaN,R,2020-06-09 13:41:59,2020-07-16 11:34:06,2230.0,ASHOK KUMAR,63.0,2020,6
1479,AEIBK2024839,2020-08-04 12:00:03,"18.750621,73.87719","27.236458,75.91729",NaN,R,2020-08-04 12:00:03,2020-08-09 17:00:00,1178.0,ASHOK KUMAR,6.0,2020,8
1558,AEIBK2024641,2020-08-02 10:50:28,"18.750621,73.87719","27.236458,75.91729",NaN,R,2020-08-02 10:50:28,2020-08-09 16:00:00,1178.0,ASHOK KUMAR,7.0,2020,8
1943,AEIBK2023701,2020-07-24 17:17:52,"26.185619636418977,91.843581932197225","25.525186,91.867201",G,NaN,2020-07-24 17:17:52,2020-07-27 19:34:00,109.0,ASHOK KUMAR,-1.0,2020,7
2129,AEIBK2023434,2020-07-22 10:14:12,"28.373519,76.835337","12.786517,79.975221",NaN,R,2020-07-22 10:14:12,2020-07-27 19:58:00,2425.0,ASHOK KUMAR,1.0,2020,7
2652,AEIBK2021979,2020-07-04 15:33:23,"12.671093,77.779537","31.045961,76.664373",NaN,R,2020-07-04 15:33:23,2020-07-22 15:44:00,2600.0,ASHOK KUMAR,5.0,2020,7
3175,AEIBK2019686,2020-06-01 18:44:37,"23.525267916088961,87.264424348570884","20.739741724979798,86.116769442238848",G,NaN,2020-06-01 18:44:37,2020-06-02 12:52:00,379.0,ASHOK KUMAR,-1.0,2020,6

In [22]:
df2 = df[[    #'GpsProvider', 
    'BookingID', 
    #'Market/Regular ', 
    'BookingID_Date',
    #'vehicle_no', 
    'Origin_Location', 'Destination_Location', 
    #'Org_lat_lon',
    #'Des_lat_lon', 
    #'Data_Ping_time', 
    #'Planned_ETA', 
    #'Current_Location',
    #'DestinationLocation', 
    #'actual_eta', 
    #'Curr_lat', 'Curr_lon', 
    'ontime',
    'delay', 
    #'OriginLocation_Code', 'DestinationLocation_Code',
    'trip_start_date', 'trip_end_date', 'TRANSPORTATION_DISTANCE_IN_KM',
    'vehicleType',
    'Minimum_kms_to_be_covered_in_a_day', 
    'Driver_Name',
    #'Driver_MobileNo', 
    'customerID', 'customerNameCode', 
    'supplierID',
    'supplierNameCode', 'Material Shipped'
    ]
       ].copy()

In [27]:
df2.to_excel("./data/Cleaned_Data1.xlsx", index=False)